* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: .5px solid red;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 10%;
}

.ties {
  margin: 0%;
}

ul {
  list-style: none;
}

#free-shipping {
  background-color: #C7532C;
}

.top-bar {
  color: #FAEAE5;
  margin:auto;
}

.top-bar li {
  float: left;
  padding: 1%;
  background-color: #FA6938;
}
