* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: .5px solid red;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 7.2%;
}

.center {
  width: 50%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

#free-shipping {
  background-color: #C7532C;
}

.top-bar {
  background-color: #FA6938;
  width: auto;
  padding: .5% 0;

}

.top-bar span {
  color: #FEF5F2;
  text-align: left;
  background-color: #FA6938;
  font-size: 75%;
  padding-left: 2%;
}

nav {
  border-image: url(./hard-mode/assets/perforated-bottom@2x.png);
}

nav li {
  display: inline;
}


.ties {
  padding: 0 7.5%;
  background-color: #F4F4F4;
}

.ties li {
  display: inline;
  padding-left: 1.5%;
}

.ties img {
  width: 8%;
}

#banner-text {
  text-align: center;
  font-weight: normal;
}
